---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Octubre 2023 - Actualidad",
    title: "Desarrollador Web Full Stack",
    company: "Disrupcion MX",
    description:
      "Desarrollo de nuevas funcionalidades para aplicaciones web, resolución de problemas y mantenimiento. Principales tecnologías y herrmaientas utilizadas: Node.js, Express, Sequelize, MySQL, React, OpenaiAPI, StripeAPI.",
  },
  {
    date: "Agosto 2023 - Junio 2024",
    title: "Furnitures Dashboard",
    company: "Proyecto Freelance",
    description:
      "Proyecto realizado para la administración de rentas de equipo, muebleria y utileria para eventos. Administrador de clientes, rentas, equipo disponible y calendario con eventos registrados. Este proyecto fue desarrollado principalmente en Next.js y Firebase.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
